.card{
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    cursor:pointer;
    box-shadow: 0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);
}


.card-actions{
    display: flex;
    justify-content: center;
    background: #ffffff;
    padding: 15px 0;
    width: 100%;
}

.action{
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}
.icon-action{
    width: 19px;
    height: 19px;
    fill: #757575;
    transition: 0.3s ease;
}

.card-img-row{
    height:160px;
    width: 100%;
    position: relative;
}
.title-row{
    position: absolute;
    left: 35px;
    top: 75%;
}

.card-title {
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
  }
  
  .marked{
      fill: blue;
      transition: 0.3s ease;
      transform: scale(1.1);
  }