<footer>
    <div class="container">
      <div class="content--footer">
        <div class="logo">
          <img src="/assets/img/logo-head.png" alt="" class="logo--footer">
        </div>
          <div class="socials-row">
              <a href="https://www.facebook.com/" class="social-link"> <svg-icon icon="facebook-logo-button" class="icon icon-fb"></svg-icon></a>
              <a href="https://www.pinterest.com/" class="social-link"><svg-icon icon="pinterest-logo-button" class="icon icon-pnt"></svg-icon></a>
              <a href="https://vk.com/" class="social-link"><svg-icon icon="vk-social-logotype" class="icon icon-vk"></svg-icon></a>
            </div>
            <div class="copyright">
              <a href="/" class="copyright-link">© 2017 Copyright</a>
            </div>
      </div>
    </div>
   
  </footer>
  