<footer>
    <div class="container">
      <div class="content--footer">
        <div class="logo">
          <img src="/assets/img/logo-head.png" alt="" class="logo--footer">
        </div>
          <div class="socials-row">
              <svg-icon icon="facebook-logo-button" class="icon"></svg-icon>
              <svg-icon icon="pinterest-logo-button" class="icon"></svg-icon>
              <svg-icon icon="vk-social-logotype" class="icon"></svg-icon>
            </div>
            <div class="copyright">
              <a href="/" class="copyright-link">© 2017 Copyright</a>
            </div>
      </div>
    </div>
   
  </footer>
  