<header>
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/img/logo-head.png" alt="" class="logo--header">
      </div>
      <nav class="navigation">
          <li class="nav-li">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-li">
              <a class="nav-link" href="">about us</a>
            </li>  
            <li class="nav-li">
                <a class="nav-link" href="">gallery</a>
              </li>  
              <li class="nav-li">
                  <a class="nav-link" href="">reviews</a>
                </li>  
                <li class="nav-li">
                    <a class="nav-link" href="">contacts</a>
                  </li>    
        </nav>
    </div>
  </div>
</header>
