header{
    background: #00897b;
    padding: 10px 0;
}

.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navigation{
    display: flex;
}

.nav-li{
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.nav-link{
    text-transform: uppercase;
    color: #ffffff;
    position:relative;
    &::after{
        content: '';
        width: 100%;
        background: transparent;
        height: 3px;
        position: absolute;
        top:40px;
        left: 0;
        transition: 0.3s ease-in;
    }
    &:hover:after{
        background: #ffffff;
        transition: 0.3s ease-in;
    }
}

.nav-link.active{
    &::after{
        background: #ffffff;
        transition: 0.3s ease-in;
    }

}