/* You can add global styles to this file, and also import other style files */


body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header,footer,section{
    display: flex;
    justify-content: center;
}
.container{
    width: 1140px;
    display: flex;
}

